<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css"></link>
  </head>
  <body>
  <h2>Sign Up</h2>
  <form action="/users" method="post">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <input type="submit">
  </form>
  </body>
</html>
